# Latex compiled files
*.aux
*.bbl
*.bcf
*.idx
*.log
*.pdf
*.run.xml
*.blg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Processed audio files
*.transformados_modificados_e_destransformados.wav

# Latex compiled objects
*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.log
latex.rul.xml
tmp
/Debug/
src/lib/matplotlib-cpp
/Release/
/results.csv
/.splitWave.sh.swp
