body {
  background-image: /* Makes the bakground image darker */
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../res/background.png');
  background-repeat: repeat;
}

/* Increases spacing in lists */
li {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

hr {
    height: 1px;
    background: transparent;
}

.page-title {
  font-size: 56px;
}

.page-subtitle {
  font-size: 32px;
}

.page-body {
  background-color: white;
  padding: 25px 50px 25px 50px;
}

.section-title {
  font-size: 26px;
  padding-top: 0.4em;
}

.polaroid-ccw {
  border: 12px solid #fff;
  max-width: 85%;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.polaroid-cw {
  border: 12px solid #fff;
  max-width: 85%;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}

/* Currently unused */
.vertical-space {
  height: 20px;
}

.full-page {
  height: 100%;
}

/* Cool scrolling style */
/* https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Good contrast over dark images */
.background-faded * {
  color: white;
}

/* Keep the links blue, just lighter */
.background-faded * a {
  color: #99ccff;
}
